@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --color-main-light: #f5c518;
  --color-main-dark: #dbb117;
  --color-back-light: #242424;
  --color-back-dark: #121212;
  --color-text-light: #ffffff;
  --color-text-dark: #c2c2c2;
  --color-alert-light: #c70036;
  --color-alert-dark: #a50036;
  --color-gray-light: #d7d7d7;
  --color-gray-dark: #3d3d3d;
}

:root {
  --main-light: var(--color-main-light);
  --main-dark: var(--color-main-dark);
  --back-light: var(--color-back-light);
  --back-dark: var(--color-back-dark);
  --text-light: var(--color-text-light);
  --text-dark: var(--color-text-dark);
  --alert-light: var(--color-alert-light);
  --alert-dark: var(--color-alert-dark);
  --gray-light: var(--color-gray-light);
  --gray-dark: var(--color-gray-dark);
}

body {
  background-color: var(--back-light);
  font-family: 'Kanit', sans-serif;
  line-height: 1.75;
}
