@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-light: #f5c518;
  --color-primary-dark: #dbb117;
  --color-secondary-light: #242424;
  --color-secondary-dark: #121212;
  --color-tertiary-light: #ffffff;
  --color-tertiary-dark: #c2c2c2;
  --color-danger-light: #c70036;
  --color-danger-dark: #a50036;
  --color-gray-light: #d7d7d7;
  --color-gray-dark: #3d3d3d;
}

@layer base {
  :root {
    --primary-light: var(--color-primary-light);
    --primary-dark: var(--color-primary-dark);
    --secondary-light: var(--color-secondary-light);
    --secondary-dark: var(--color-secondary-dark);
    --tertiary-light: var(--color-tertiary-light);
    --tertiary-dark: var(--color-tertiary-dark);
    --danger-light: var(--color-danger-light);
    --danger-dark: var(--color-danger-dark);
    --gray-light: var(--color-gray-light);
    --gray-dark: var(--color-gray-dark);
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    color: var(--tertiary-light);
    background-color: var(--secondary-light);
    font-family: 'Kanit', sans-serif;
    line-height: 1.75;
  }
}
